.textArea {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.textArea p {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  font-size: 16px;
}

.textArea a {
  color: white;
  text-decoration: none;
}

.textArea a:hover {
  color: lightgray;
}

.imageContainer {
  padding: 0;
  color: white;
  text-align: center;
  font-size: 0.8em;
  width: auto;  
}

.imageContainer img {
  border-radius: 50%;
  box-shadow: 0px 0px 8px white;
  transition: transform .2s
}
.imageContainer img:hover {
  transform: scale(1.05);
}
.imageContainer p {
  text-transform: capitalize;
  margin: 0px 20% 0 20%;
}
.imageContainer p.name {
  margin-top: 10px;
}
.imageContainer p.job {
  color: grey;
}
.imageContainer a {
  display: contents;
  text-decoration: none;
}



.row {
  display: flex;
}

.column {
  flex: 50%;
  
}
