div#form-wrapper {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}

div.row {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}
div.row:last-of-type {
  margin-bottom: 50px;
}

div.column {
  width: 100%;
}

div.column + div.column {
  margin-left: 15px;
}

div.form-group:only-child {
  width: 100%;
}

input.form-item, textarea.form-item {
  resize: none;
  width: 100%;
  margin-top: 5px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-indent: 10px;
  
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  
  background: #fff;
}


textarea#message {
  min-height: 6rem;
  height: auto;
  word-break: break-word;
}

div.form-group label {
  margin-left: 15px;
  color:white;
}

div.row input#submitButton {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #0046ad;

  color: white;
  padding: 15px 32px;
}

div.row input#submitButton:hover {
  cursor: pointer;
  background-color: blue;
}


label, input#submitButton {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.message {
  position: relative;
  background-color:#7482ff;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}

div.message p {
  text-transform: capitalize;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 1em;
}

div.message h3 {
  margin: 0;
  position: absolute;
  right: 5%;
  bottom: 5%;
}