div#game-container {
  margin-left: 20px;
  margin-right: 20px;
  width: 700px;
  height: 700px;
  display: block;
  margin: 0 auto;
}

iframe#game-frame {
  width: 100%;
  height: 100%;
  border: none; 
}

div#game-description {
  margin-left: 10%;
  margin-right: 10%;
}

.controlsTable {
  margin-top: 20px;
  /* margin-right: auto; */
  text-align: center;
  float: left;
}

.controlsTable, .controlsTable td, th {
  border-collapse: collapse;
  border: 1px solid white;
}

.controlsTable th, td {
  padding: 10px 15px;
}

.rateContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  padding: 6% 5%;
  align-items: center;
  align-content: center;
  text-align: center;
  /* border: 1px solid white; */
  height: 35px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.rateContainer .starRating input {
  display: none;
}

.starRating label {
  font-size: 25px;
  color: white;
  float: right;
  transition: all 0.3s ease;
}

.starRating input:not(:checked) ~ label:hover,
.starRating input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

.starRating input:checked ~ label { 
  color: #fd4;
}
