html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../images/background-tilable.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

div#wrapper {
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  min-width: 720px;
  background-color: black;
  border: none;
}

h1.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  width: 50%;
  margin: 0;
  padding: 25px 50px;
  font-size: 30px;
}