a, .dropbtn span {
  font-family: monospace;
  font-size: 1.1rem;
  color: white;
  text-decoration: none; 
}

#header {
  display: block;
  background-color: #0046ad;
  margin: auto;
  height: 100px;
}

#header ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0046ad;
  height: 100px;
}

div.navbar-div {
  float: left;
  left: 12.5rem;
}

div.logo-div {
  display:block;
  overflow:hidden;
  float: left;
  width: 12.5rem;
  float:left;      
  height: 100px;  
  position: relative;
}

ul.navbar li {
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}


ul.navbar li a {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  
}



ul.navbar li {
  background-color: transparent;
  transition: background-color 100ms linear;
}

ul.navbar li:hover,
ul.navbar li:focus,
div.user-area:hover {
  background-color: blue;
  transition: background-color 100ms linear;
}

div.logo-div img {
  max-height: 100px;
  width: 80%;
  left: 10%;
  top: 15%;
  position: absolute;
  transition: transform .2s;
}

div.logo-div img:hover {
  transform: scale(1.05);
}



div.user-area {
  float: right;
  right: 0;
  height:100%;
  display: table;
  
  text-align: center;
  vertical-align: middle;

  /* border: 1px solid red; /**/
}

div.user-area a {
  padding: 0 1rem 0 1rem;
  display: table-cell;
  vertical-align: middle;

  position: relative;
  display: inline-block;

  margin: 0;
}

.dropbtn {
  background-color: #005ae0;
  height: 100%;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: blue;
}


.dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; /**/
  position: absolute;
  background-color: #0046ad;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content h3 {
  text-align: left;
  margin: 0;
}

.dropdown-content h3 a::before {
  content: "\00a0";
}

.dropdown-content h3 a {
  padding: 15px 0 15px 0;
  height: 100%;
  width: 100%;
}

.dropdown-content h3 a:hover {
  background-color: blue
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: blue;
}

.dropbtn span {
  font-size: 1rem;
}