#header {
  display: block;
  background-color: #0046ad;
  margin: auto;
  height: 100px;
}

#header ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0046ad;
  height: 100px;
}

div.navbar-div {
  float: left;
  left: 12.5rem;
}

div.logo-div {
  display:block;
  overflow:hidden;
  float: left;
  width: 12.5rem;
  float:left;      
  height: 100px;  
  position: relative;
}

ul.navbar li {
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

}

ul.navbar li a {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 1.1em;
  color: white;
  
}



ul.navbar li {
  background-color: transparent;
  transition: background-color 100ms linear;
}

ul.navbar li:hover,
ul.navbar li:focus {
  background-color: blue;
  transition: background-color 100ms linear;
}

div.logo-div img {
  max-height: 100px;
  width: 80%;
  left: 10%;
  top: 15%;
  position: absolute;
  transition: transform .2s;
}

div.logo-div img:hover {
  transform: scale(1.05);
}