.textArea {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.textArea p {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  font-size: 16px;
}

.textArea a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}


.newGames {
  border-style: solid;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 85%;
}

.newGames h1 {
  padding-left: 15px;
  font-size: 25px;
}

.gameBar {
  list-style-type: none;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0;
  overflow: hidden;
}

.gameRowContainer {
  border-style: solid;
  border-color: white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 3px;
  padding: 10px;
}

.iconHolder {
  width: 100px;
  height: 130px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform .2s;
}

.iconHolder:hover {
  transform: scale(1.06);
}

.iconHolder a {
  color: white;
  text-decoration: none;
}

.smallHeader {
  font-size: 15px;
  text-align: center;
  color: white;
}

.bestRated {
  color: white;
  border-style: solid;
  border-color: white;
  float: left;
  margin-left: 7.5%;
}

.bestRated h1 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
}

.rateTable {
  border-collapse: collapse;
}
.rateTable td, th {
  border: 1px solid white;
}

.rateTable tr:first-child td {
  border-top: 0;
}
.rateTable tr td:first-child, .rateTable tr th:first-child {
  border-left: 0;
}
.rateTable tr:last-child td {
  border-bottom: 0;
}
.rateTable tr td,th:last-child {
  border-right: 0;
}

.rateTable th, td {
  padding: 5px 10px;
}

.rateTable a {
  color: white;
  text-decoration: white;
}

a:hover {
  color: lightskyblue;
}