.textArea {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 70px;
}

.textArea p {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  font-size: 16px;
  text-indent: 15px;
  text-align: justify;
}

.textArea a{
  color: gray;
  text-decoration: none;
}


.newGames{
  border-style: solid;
  border-color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 95%;
}

.newGames h1{
  padding-left: 15px;
  font-size: 25px;
}

.gameBar{
  list-style-type: none;
  margin-right: 10%;
  margin-left: 10%;
  padding: 0;
  overflow: hidden;
}

.gameRowContainer{
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
}

.iconHolder{
  width: 100px;
  height: 130px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.iconHolder h2{
  color: white;
}

.smallHeader{
  font-size: 15px;
  text-align: center;
  color: white;
}

.bestRated{
  color: white;
  border-style: solid;
  border-color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  margin-left: 15px;
}

.bestRated h1{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
}

.rateTable, .rateTable th, td{
  border: 1px solid white;
  border-collapse: collapse;
  margin: auto;
}

.rateTable th, td{
  padding: 5px 10px;
}

.rateTable a{
  color: white;
  text-decoration: white;
}