.textArea {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.textArea p {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  font-size: 16px;
}

.textArea a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

div.img {
  text-align: center;
}

.img img {
  margin: auto;
  max-width: 70%;
}
