.header{
  display: block;
  margin: auto;
}

.header .logo{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  float: left;
}

.header .navbar{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #0046ad;
  color: white;
  height: 100px;
}

.navbar li{
  float: left;
}

.navbar li a {
  display: block;
  padding: 40px 16px;
  text-align: center;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.navbar li a:hover:not(.selected){
  background-color: blue;
}